{{> head }}


{{> navbar }}

<div class="row">

    <div class="col-8">
        
        <h1>About this site.</h1>
        <p>This site is a demo of Nodejs and Bootstrap framework.</p>
        <p>Theres too ugly because I don't know about Bootstrap and HTML technologies.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, sunt enim temporibus suscipit unde tempore facilis adipisci placeat illo sed totam fugiat ullam nemo odio veniam, earum itaque voluptate alias?</p>

    </div>


    <div class="col-4">

    <img src="assets/img/alan-beam-astronauta-de-la-mision-apolo-12_55698c0a_1041x1041.png" class="img-thumbnail">

    </div>

</div>


{{> footer }}